@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #222546;
  --secondary-color: #373b69;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.header {
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
  padding: 1rem;
}

input {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  padding: 4px;
}
input:placeholder {
  color: #7378c5;
  font-family: inherit;
}
input:focus {
  background-color: var(--secondary-color);
  border: none;
}

.main {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
.movie {
  width: 200px;
  height: 225px;
  padding: 10px;
  background-color: var(--secondary-color);
  margin: 10px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
img {
  width: 100%;
  height: 80%;
}
.movie-info {
  display: flex;
  justify-content: space-between;
  color: white;
}

.movie-info h3 {
  margin-top: 4px;
}

.movie-info span {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 25px;
  padding: 5px;
  border-radius: 2px;
}

.movie-info span.green {
  color: green;
}

.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: red;
}

.movie-overview {
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(220px);
  transition: 0.3s ease-in;
  padding: 0 0 4px 2px;
  max-height: 100%;
}

.movie:hover .movie-overview {
  transform: translateY(0);
}

.overview-Title {
  font-family: inherit;
  font-weight: bold;
}
